// Colors
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-color-hover: #4cd137;
$background-color: #f5f6fa;
$text-color: #fff;

// Fonts
$font-family: Roboto, sans-serif;

// Sizes
$container-width: 1024px;
$container-padding: 16px;
$section-padding: 56px;

// Breakpoints
$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;